<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="login">
  <h1>MS Adal Demo</h1>
  <div>Login demo with MSAdal Plugin</div>
  <button ion-button block color="primary" (click)="login()">Login with Office 365 Account</button>
</ion-content>
