<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let response of responseData">
    <h2>Welcome {{response.displayName}}</h2>
    <p>Email {{response.mail}}</p>
  </div>

  <button ion-button color="primary" (click)="logout()">Logout</button>
</ion-content>
